Repository chumb3rs/chumbers.io: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,mdx,json}": ["biome format --write"],
    "*.astro": ["prettier --write"]
}

save: Update TODO
  TODO.md
Due: biome format --write

feat: Configure PageFind search
  src/layouts/Post.astro
  src/pages/posts/[...slug].astro
Due: prettier --write

feat: Add 404 page
  src/components/Tag.astro
  src/pages/404.astro
Due: prettier --write

bug: Fix auto scroll to center selected tag not working
  src/components/ListTags.astro
Due: prettier --write

chore: Update README
  README.md
Due: biome format --write

fix: Move resume path reference to `/*.pdf`
  src/data/links.ts
Due: biome format --write

Delete public/NicholasMarks_resume.pdf
  public/NicholasMarks_resume.pdf
Due: none

chore: Add npm deploy command
  package.json
Due: biome format --write

chore: Remove old Next.js files from repository
  apollo-client.js
  components/Button.js
  components/InputField.js
  components/Navbar.js
  components/PostCard.js
  components/PostImage.js
  components/TableOfContents.js
  components/footer/Footer.js
  components/footer/NewsletterForm.js
  data/lowerNavigation.js
  data/siteMetadata.js
  next.config.js
  pages/404.js
  pages/categories/[slug].js
  pages/categories/index.js
  pages/contact.js
  pages/content/[slug].js
  pages/content/index.js
  pages/series/[slug].js
  pages/signup.js
  pages/tags/[slug].js
  pages/tags/index.js
  sections/Featured.js
  sections/Latest.js
  sections/LinkedContent.js
  services/getCategories.js
  services/getPosts.js
  services/getSeries.js
  services/getTags.js
  services/getTypePosts.js
  styles/components.js
  styles/globals.scss
Due: biome format --write

bug: Remove /content redirect to fix build failures
  astro.config.mjs
Due: none

fix: Series card list stuff
  src/components/ContentTypeListView.astro
Due: prettier --write

chore: Footer styling and structural improvements
  src/components/Footer.astro
Due: prettier --write

chore: Improve styling of selection button
  src/components/ListCategories.astro
  src/components/SelectionButton.astro
Due: prettier --write

fix: Simplify structure of Tag component
  src/components/Tag.astro
Due: prettier --write

chore: Remove series from post when undefined
  src/content/posts/bridge-crossing-the-human-genome.mdx
Due: biome format --write

fix: Remove underline styling from button
  src/components/mdx/Button.astro
Due: prettier --write

fix: Render actual series name when present not slugified version
  src/layouts/Post.astro
Due: prettier --write

fix: Remove color style for auto light/dark mode switching
  src/pages/404.astro
Due: prettier --write

bug: Remove .mdx extension on getEntry query
  src/utils/series.ts
Due: biome format --write

feat: Update /about
  src/pages/about.astro
Due: prettier --write

feat: Fix header burger menu from sliding in from right
  src/components/Header.astro
Due: prettier --write

fix: Move pagination arrows above post list
  src/layouts/ArchiveLayout.astro
  src/pages/categories/[category]/[page].astro
  src/pages/series/[series]/[page].astro
  src/pages/tags/[tag]/[page].astro
Due: prettier --write

chore: General styling improvements
  src/components/Footer.astro
  src/components/ListTags.astro
  src/layouts/BaseLayout.astro
Due: prettier --write

bug: Fix PagefindUI not working after page navigation
  package-lock.json
  package.json
  src/components/Search.astro
Due: biome format --write, prettier --write

chore: Colour configuration improvements
  src/components/Footer.astro
  src/components/RelatedPost.astro
  src/components/TableOfContentsHeading.astro
  src/components/Tag.astro
  src/content/posts/ep-6-under-lights.mdx
  src/layouts/Post.astro
  src/styles/global.css
  tailwind.config.cjs
Due: biome format --write, prettier --write

Update README.md
  README.md
Due: biome format --write

bug: Wrap series title/description in anchor tag
  src/components/ContentTypeListView.astro
Due: prettier --write

fix: Correct URL from /subscribe page
  src/pages/subscribe.astro
Due: prettier --write

bug: Swap from AWS SES to MailChannels for /contact form
  astro.config.mjs
  src/pages/api/contact.ts
Due: biome format --write

chore: Add .wrangler/ to gitignore
  .gitignore
Due: none

feat: Add content type for projects
  src/components/ContentTypeListView.astro
  src/content/config.ts
  src/content/projects/learning-spanish-to-b2.mdx
  src/pages/projects/[project]/[page].astro
  src/pages/projects/index.astro
  src/styles/global.css
  src/utils/index.ts
  src/utils/projects.ts
Due: biome format --write, prettier --write

fix: Hide /contact /subscribe pages until fixed
  src/components/Footer.astro
  src/components/icons/FooterDecoration.astro
  src/data/links.ts
Due: biome format --write, prettier --write

feat: Add overview/posts tab switcher for posts and series
  src/components/OverviewContent.astro
  src/components/TabSwitcher.astro
  src/components/mdx/MyContent.astro
  src/pages/posts/[...slug].astro
  src/pages/projects/[project]/[page].astro
  src/pages/series/[series]/[page].astro
Due: prettier --write

fix: Add opacity transition effects to burger menu component
  src/components/Header.astro
Due: prettier --write
