Repository chumb3rs/chumbers.io: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,mdx,json}": ["biome format --write"],
    "*.astro": ["prettier --write"]
}

bug: Add .fuse* file types to gitignore
  .gitignore
Due: none

chore: Change site favicon to chumbers
  public/favicon.ico
  public/favicon.svg
  src/components/BaseHead.astro
Due: prettier --write

feat: Set up Manrope and Fira Code fonts via astro-fonts
  .gitignore
  astro.config.mjs
  package-lock.json
  package.json
  src/components/BaseHead.astro
  src/styles/global.css
  tailwind.config.cjs
Due: biome format --write, prettier --write

feat: Add font-heading class for Playfair Display
  public/fonts/Manrope-Bold.woff2
  public/fonts/Manrope-ExtraBold.woff2
  public/fonts/Manrope-ExtraLight.woff2
  public/fonts/Manrope-Light.woff2
  public/fonts/Manrope-Medium.woff2
  public/fonts/Manrope-Regular.woff2
  public/fonts/Manrope-SemiBold.woff2
  src/components/BaseHead.astro
  tailwind.config.cjs
Due: prettier --write

chore: Correct GitHub social link and remove Twitter/X link
  src/data/links.ts
Due: biome format --write

fix: Add "/" component lookup to tsconfig
  tsconfig.json
Due: biome format --write

chore: Mark missing TinaCMS fields as TODOs
  tina/config.ts
Due: biome format --write

feat: Set up site color pallette
  src/styles/global.css
  tailwind.config.cjs
Due: none

feat: Customise site title component
  src/components/Header.astro
  src/components/Title.astro
  src/components/TitlePage.astro
  src/data/site.config.ts
  src/pages/category/[category]/[page].astro
  src/pages/index.astro
  src/pages/tags/[...tag]/index.astro
  src/pages/tags/index.astro
  src/styles/global.css
Due: biome format --write, prettier --write

feat: Add boilerplate custom footer layout
  src/components/Footer.astro
  src/components/NewsletterForm.astro
  src/data/links.ts
  src/types/pageLinks.d.ts
  tailwind.config.cjs
Due: biome format --write, prettier --write

bug: Remove setting --color-white explicitly on hoverLink class
  src/styles/global.css
Due: none

chore: Map post categories to actual values
  biome.json
  src/content/blog/astro copy 2.mdx
  src/content/blog/astro copy 3.mdx
  src/content/blog/astro copy 4.mdx
  src/content/blog/astro.mdx
  src/content/blog/create-astro-component.mdx
  src/content/blog/macbook.mdx
Due: biome format --write

feat: Change header to render content types not categories
  src/components/Category.astro
  src/components/ContentType.astro
  src/components/Header.astro
  src/components/ListCategories.astro
  src/components/ListContentTypes.astro
  src/components/Search.astro
  src/components/icons/CategoryIcon.astro
  src/components/icons/HomeIcon.astro
  src/components/icons/ProjectIcon.astro
  src/components/icons/SeriesIcon.astro
  src/data/categories.ts
  src/data/links.ts
  src/pages/category/[category]/[page].astro
  src/pages/index.astro
  src/types/contentType.d.ts
Due: biome format --write, prettier --write

feat: Change primary color from teal to periwinkle
  src/styles/global.css
  tailwind.config.cjs
Due: none

feat: Generate new content type schemas for TinaCMS
  tina/config.ts
Due: biome format --write

fix: Change search text from large to medium
  src/components/Search.astro
Due: prettier --write

feat: Migrate post content from /blog to /posts
  src/components/ListPosts.astro
  src/components/ListRelatedPosts.astro
  src/components/PostCard.astro
  src/content/config.ts
  src/content/posts/astro copy 2.mdx
  src/content/posts/astro copy 3.mdx
  src/content/posts/astro copy 4.mdx
  src/content/posts/astro.mdx
  src/content/posts/create-astro-component.mdx
  src/content/posts/macbook.mdx
  src/data/categories.ts
  src/data/site.config.ts
  src/layouts/Post.astro
  src/pages/posts/[...slug].astro
  src/pages/rss.xml.ts
  src/utils/post.ts
  tina/config.ts
Due: biome format --write, prettier --write

chore: Upgrade Astro to v5
  package-lock.json
  package.json
Due: biome format --write

chore: Add 404 template
  src/pages/404.astro
Due: prettier --write

chore: Add about page template
  src/pages/about.astro
Due: prettier --write

chore: Add contact page template
  src/pages/contact.astro
Due: prettier --write

fix: Change to purple heart emoji
  src/components/Footer.astro
Due: prettier --write

chore: Remove superfluou template comments from site config
  src/data/site.config.ts
Due: biome format --write

chore: Remove unused variables in component files
  src/components/PostCard.astro
  src/layouts/Post.astro
Due: prettier --write

feat: Create category button list for browsing
  src/components/Category.astro
  src/components/ListCategories.astro
  src/pages/categories/[category]/[page].astro
  src/pages/categories/index.astro
  src/styles/global.css
  src/utils/category.ts
  src/utils/index.ts
  src/utils/post.ts
Due: biome format --write, prettier --write

fix: Correct footer/layout structure to push it to bottom
  src/components/Footer.astro
  src/components/Header.astro
  src/layouts/BaseLayout.astro
Due: prettier --write

chore: Add content type list to header
  src/components/ContentType.astro
  src/components/Header.astro
  src/components/ListCategories.astro
  src/components/ListContentTypes.astro
  src/pages/categories/index.astro
  src/pages/index.astro
Due: prettier --write

feat: Introduce layout type for content def pages
  src/components/ListCategories.astro
  src/layouts/ContentTypeLayout.astro
  src/pages/categories/[category]/[page].astro
  src/pages/categories/index.astro
Due: prettier --write

feat: Add helper when no posts are rendered
  src/components/ListCategories.astro
  src/components/ListPosts.astro
  src/pages/categories/[category]/[page].astro
  src/utils/index.ts
Due: biome format --write, prettier --write

feat: Add periwinkle hits to the header and content type elements
  src/components/ContentType.astro
  src/components/Header.astro
  src/components/Search.astro
  src/components/Title.astro
  src/components/ToggleTheme.astro
Due: prettier --write

feat: Implement /tags page
  src/components/ContentTypeSelection.astro
  src/components/ListCategories.astro
  src/components/ListTags.astro
  src/content/config.ts
  src/data/categories.ts
  src/data/site.config.ts
  src/data/utils.ts
  src/layouts/ContentTypeLayout.astro
  src/pages/projects/index.astro
  src/pages/tags/[...tag]/index.astro
  src/pages/tags/index.astro
  src/utils/category.ts
  src/utils/post.ts
Due: biome format --write, prettier --write

fix: Remove image type field from category
  tina/config.ts
Due: biome format --write

fix: Correct main layout to have fixed width irrespective of content
  src/layouts/BaseLayout.astro
Due: prettier --write

feat: Add contact form
  src/pages/contact.astro
Due: prettier --write

feat: Add about page
  src/pages/about.astro
Due: prettier --write

chore: Add hoverLink class to footer links
  src/components/Footer.astro
Due: prettier --write

bug: Fix content type disappearing on selection
  src/components/ContentType.astro
  src/components/ListContentTypes.astro
Due: prettier --write

chore: Add resume file and set footer link to open in new tab
  public/NicholasMarks_Resume.pdf
  src/components/Footer.astro
  src/data/links.ts
  src/types/pageLinks.d.ts
Due: biome format --write, prettier --write
