Repository chumb3rs/chumbers.io: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, prettier --write

fix: Reduce height and width of scrollbar-thumb
  src/styles/global.css
Due: none

chore: Make "read more" callout on /series or /projects type specific
  src/components/ContentTypeListView.astro
Due: prettier --write

write: Create learning-spanish-to-b2
  src/content/projects/learning-spanish-to-b2.mdx
Due: none

write: Write overview for europe-2023
  src/content/series/europe-2023.mdx
Due: none

save: Update TODO
  TODO.md
Due: none

write: Write overview for ariel-x-sylvia-plath
  src/content/projects/learning-spanish-to-b2.mdx
  src/content/series/ariel-x-sylvia-plath.mdx
Due: none

write: Write overview for cat-on-a-hot-tin-roof
  src/content/series/cat-on-a-hot-tin-roof.mdx
Due: none

write: Write overview for heart-of-darkness
  src/content/series/heart-of-darkness.mdx
Due: none

fix: Align pagination buttons center on /series and /projects
  src/components/Pagination.astro
  src/pages/series/[series]/[page].astro
Due: prettier --write

write: Write heart-of-darkness overview
  src/content/series/heart-of-darkness.mdx
Due: none

write: Write meditation overview
  src/content/series/meditation.mdx
Due: none

write: Write photography overview
  src/content/series/photography.mdx
Due: none

write: Write purdue-university-2023 overview
  src/content/series/purdue-university-2023.mdx
Due: none

feat: Add blur overlay to tag container scroll
  src/components/ListTags.astro
Due: prettier --write

bug: Fix search component not working and disappearing
  src/components/Header.astro
  src/components/Search.astro
Due: prettier --write

bug: Add ! modifier to fix flex-col issue on Mac + Brave
  src/components/ContentTypeListView.astro
  src/components/Footer.astro
  src/components/Header.astro
Due: prettier --write

feat: Add reading progress bar
  src/components/ReadingProgressBar.astro
  src/layouts/Post.astro
Due: prettier --write

fix: Add mobile version of BackToTopButton
  src/components/BackToTopButton.astro
  src/components/TableOfContents.astro
  src/pages/posts/[...slug].astro
Due: prettier --write

fix: Clean up styling on BackToTopButton
  src/components/BackToTopButton.astro
  src/components/mdx/MyImage.astro
Due: prettier --write

feat: Add project metadata to overview page
  src/content/config.ts
  src/content/projects/learning-spanish-to-b2.mdx
  src/data/utils.ts
  src/pages/projects/[project]/[page].astro
  src/utils/index.ts
  src/utils/projects.ts
Due: biome format --write, prettier --write

chore: Delete ArchiveTreeView
  src/components/ArchiveTreeView.astro
Due: prettier --write

fix: Add typing and bottom margin to project status
  src/pages/projects/[project]/[page].astro
Due: prettier --write

fix: Reduce width of tag blur overlay on small screens
  src/components/ListTags.astro
Due: prettier --write

chore: Remove old Disqus files
  TODO.md
  src/components/Disqus.astro
  src/data/disqus.config.ts
  src/pages/posts/[...slug].astro
Due: biome format --write, prettier --write

Path conditions:
  biome format --write: any of: *.{js,jsx,ts,tsx,json}
  prettier --write: any of: *.astro
