Repository chumb3rs/chumbers.io: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx,md,mdx,json}": ["biome format --write"],
    "*.astro": ["prettier --write"]
}

save: Update TODO
  TODO.md
Due: biome format --write

feat: Add working footer subscribe form
  astro.config.mjs
  package-lock.json
  package.json
  src/components/NewsletterForm.astro
  src/pages/api/contact.ts
  src/pages/api/subscribe.ts
Due: biome format --write, prettier --write

feat: Add working /subscribe sign-up form
  package-lock.json
  package.json
  src/components/Footer.astro
  src/components/Loader.astro
  src/components/NewsletterForm.astro
  src/components/Title.astro
  src/pages/api/subscribe.ts
  src/pages/subscribe.astro
  src/utils/newsletter.ts
Due: biome format --write, prettier --write

fix: Have external links open in new tab
  src/components/mdx/AnchorLink.astro
Due: prettier --write

chore: Update all https://chumbers.io/* links to strip domain
  src/content/posts/1-a-prelude.mdx
  src/content/posts/2-and-all-that-beauty-all-that-wealth-eer-gave.mdx
  src/content/posts/3-a-cold-cold-winter.mdx
  src/content/posts/ep-1-5-my-kind-of-town.mdx
  src/content/posts/ep-10-lexington.mdx
  src/content/posts/ep-11-youre-a-star.mdx
  src/content/posts/ep-12-grounded.mdx
  src/content/posts/ep-13-when-harry-met-sally.mdx
  src/content/posts/ep-14-goodbye.mdx
  src/content/posts/ep-2-the-cold-cold-winter.mdx
  src/content/posts/ep-3-let-it-snow.mdx
  src/content/posts/ep-4-the-plot-thickens.mdx
  src/content/posts/ep-5-these-vagabond-shoes.mdx
  src/content/posts/ep-7-whose-house.mdx
  src/content/posts/ep-8-winding-down.mdx
  src/content/posts/ep-9-spring-break.mdx
  src/content/posts/lisbon.mdx
  src/content/posts/newsletter-4.mdx
  src/content/posts/newsletter-5.mdx
  src/content/posts/newsletter-6.mdx
  src/content/posts/newsletter-7.mdx
  src/content/posts/newsletter-8.mdx
  src/pages/subscribe.astro
Due: biome format --write, prettier --write

chore: Set up permanent redirects from old site structure
  astro.config.mjs
Due: none

fix: Set blank target if button link is external link
  src/components/mdx/Button.astro
Due: prettier --write

feat: Add Google Analytics script with partytown
  astro.config.mjs
  package-lock.json
  package.json
  src/components/BaseHead.astro
Due: biome format --write, prettier --write

feat: Add featured/pinned flag to post frontmatter
  src/content/config.ts
  src/content/posts/a-travel-whitepaper.mdx
  src/content/posts/bridge-crossing-the-human-genome.mdx
  src/content/posts/ep-14-goodbye.mdx
  src/content/posts/exploring-hardware-problems-with-verilog.mdx
  src/content/posts/lisbon.mdx
  src/content/posts/my-10-days-of-rest-and-relaxation.mdx
  src/layouts/BaseLayout.astro
  src/pages/index.astro
  src/utils/index.ts
  src/utils/post.ts
Due: biome format --write, prettier --write

bug: Capitalise every letter of series/project title
  astro.config.mjs
  src/components/ContentTypeListView.astro
  src/pages/series/[series]/[page].astro
  src/utils/index.ts
  src/utils/string.ts
Due: biome format --write, prettier --write

feat: Add mock first version of /archive page
  src/components/ArchiveMonthCard.astro
  src/components/ArchiveTreeView.astro
  src/components/ArchiveYearCard.astro
  src/components/icons/ArchiveIcon.astro
  src/data/links.ts
  src/pages/archive/[year]/[month]/[page].astro
  src/pages/archive/[year]/[page].astro
  src/pages/archive/index.astro
  src/pages/archive/tree.astro
  src/utils/archive.ts
  src/utils/index.ts
Due: biome format --write, prettier --write

bug: Fix typo in component name
  src/components/TableOfContents.astro
  src/components/TableOfContentsHeading.astro
Due: prettier --write

feat: Create working archive card layout
  src/components/ArchiveMonthCard.astro
  src/components/ArchiveYearCard.astro
  src/components/ContentTypeSelection.astro
  src/components/ListContentTypes.astro
  src/components/SelectionButton.astro
  src/data/links.ts
  src/data/site.config.ts
  src/data/utils.ts
  src/layouts/ArchiveLayout.astro
  src/layouts/ContentTypeLayout.astro
  src/pages/archive/[year]/[month]/[page].astro
  src/pages/archive/[year]/[page].astro
  src/pages/archive/index.astro
  src/pages/archive/tree.astro
  src/utils/index.ts
Due: biome format --write, prettier --write

fix: Add pagination to archive year/month pages
  src/components/ContentTypeSelection.astro
  src/layouts/ArchiveLayout.astro
  src/pages/archive/[year]/[month]/[page].astro
  src/pages/archive/[year]/[page].astro
Due: prettier --write

chore: Upgrade astro
  package-lock.json
  package.json
Due: biome format --write

bug: Fix infinite redirect issue on tag/[...slug]
  astro.config.mjs
Due: none

feat: Add more metadata to post heading
  src/components/Tag.astro
  src/layouts/Post.astro
Due: prettier --write

chore: Set /archive page to only load six posts
  src/layouts/ArchiveLayout.astro
Due: prettier --write

fix: Update sizing constraints on video player
  src/components/mdx/VideoEmbed.astro
Due: prettier --write

chore: Small improvements to CldImage...still not done
  src/components/mdx/MyImage.astro
Due: prettier --write

feat: Migrate related post format from old site
  src/components/ListRelatedPosts.astro
  src/components/RelatedPost.astro
Due: prettier --write

chore: Fix article image component to respect max height
  src/components/mdx/MyImage.astro
Due: prettier --write

bug: Actually set the minutes read for related posts
  src/components/ListRelatedPosts.astro
  src/components/RelatedPost.astro
Due: prettier --write

fix: Update styling on mdx/Card
  src/components/mdx/Card.astro
Due: prettier --write

fix: Set Cloudinary background to save LaTeX png figures in dark mode
  src/components/mdx/MyImage.astro
Due: prettier --write

chore: Remove quotations from article quote
  src/content/posts/newsletter-6.mdx
Due: biome format --write

fix: Get Shiki syntax highlighting working again
  astro.config.mjs
  src/components/mdx/Code.astro
  src/content/posts/introduction-to-creating-a-personal-website-with-nextjs.mdx
Due: biome format --write, prettier --write

chore: Change title font to heading
  src/layouts/Post.astro
Due: prettier --write

feat: Add @astrojs/cloudflare
  package-lock.json
  package.json
  public/.assetsignore
  wrangler.jsonc
Due: biome format --write

feat: Set tag list to scroll horizontally
  astro.config.mjs
  src/components/ContentType.astro
  src/components/ContentTypeSelection.astro
  src/components/ListTags.astro
  src/components/SelectionButton.astro
  src/pages/tags/[...tag]/index.astro
  src/pages/tags/[tag]/[page].astro
  src/styles/global.css
  src/utils/index.ts
  src/utils/post.ts
Due: biome format --write, prettier --write

chore: Miscellaneous content fixes
  src/content/posts/my-10-days-of-rest-and-relaxation.mdx
  src/content/posts/tulips-bee-box-balloons-a-close-reading.mdx
Due: biome format --write

chore: Delete [...slug] page for /projects
  src/pages/projects/[...slug].astro
Due: prettier --write

bug: Remove left/right fade from tag container
  src/components/ListTags.astro
Due: prettier --write

fix: Remove dynamic redirects to /[type]/1
  astro.config.mjs
  src/components/ContentTypeSelection.astro
Due: prettier --write

fix: Wrangler site name cannot contain non-dash special chars
  wrangler.jsonc
Due: none

chore: Change run preview command to use wrangler
  package.json
Due: biome format --write
