Repository chumb3rs/chumbers.io: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, prettier --write

chore: Move categories to .mdx and capitalise file names
  biome.json
  src/content/categories/Blog.mdx
  src/content/categories/Essays.mdx
  src/content/categories/Learn.mdx
  src/content/categories/Literature.mdx
  src/content/categories/Maths.mdx
  src/content/categories/Newsletter.mdx
  src/content/categories/Travel.mdx
Due: biome format --write

feat: Add series section
  src/components/ContentType.astro
  src/components/ContentTypeListView.astro
  src/components/ContentTypeSelection.astro
  src/components/ListCategories.astro
  src/components/ListTags.astro
  src/components/Title.astro
  src/content/config.ts
  src/content/series/Heart-of-Darkness.mdx
  src/content/series/Purdue-University-2023.mdx
  src/layouts/ContentTypeLayout.astro
  src/pages/categories/[category]/[page].astro
  src/pages/index.astro
  src/pages/projects/index.astro
  src/pages/series/[series]/[page].astro
  src/pages/series/index.astro
  src/utils/category.ts
  src/utils/index.ts
  src/utils/series.ts
  src/utils/slugify.ts
  src/utils/sluglify.ts
Due: biome format --write, prettier --write

fix: Change TinaCMS to use extracted file name for reference value
  tina/config.ts
Due: biome format --write

fix: Remove x-padding on footer
  src/components/Footer.astro
Due: prettier --write

save: Check-in TODO file for remaining tasks
  TODO.md
  biome.json
Due: biome format --write

feat: Add support for LaTeX in .mdx files
  astro.config.mjs
  package-lock.json
  package.json
  src/assets/images/sangharsh-lohakare-8o_LkMpo8ug-unsplash.jpg
  src/components/BaseHead.astro
  src/content/posts/Bridge-Crossing-the-Human-Genome.mdx
Due: biome format --write, prettier --write

chore: Upgrade husky to v9
  package-lock.json
  package.json
Due: biome format --write

fix: Remove to-be-deprecated lines from .husky/pre-commit
  .husky/pre-commit
Due: none

feat: Add custom <highlight> component to .mdx
  .lintstagedrc.json
  src/components/mdx/Highlight.astro
  src/content/posts/Bridge-Crossing-the-Human-Genome.mdx
  src/pages/posts/[...slug].astro
Due: biome format --write, prettier --write

feat: Add custom <VideoEmbed> component to .mdx
  src/components/mdx/SButton.astro
  src/components/mdx/VideoEmbed.astro
  src/pages/posts/[...slug].astro
  tina/config.ts
Due: biome format --write, prettier --write

feat: Add custom <Image> component to .mdx
  src/components/mdx/MyImage.astro
  src/pages/posts/[...slug].astro
Due: prettier --write

chore: Styling improvements to custom .mdx components
  src/components/mdx/Highlight.astro
  src/components/mdx/VideoEmbed.astro
Due: prettier --write

save: Update TODO
  TODO.md
Due: biome format --write

save: Push pending markdown content
  src/content/posts/Bridge-Crossing-the-Human-Genome.mdx
  src/content/posts/Ep-1-And-all-that-beauty-all-that-wealth-eer-gave.mdx
Due: biome format --write

feat: Add custom <a> component for .mdx
  src/components/mdx/AnchorLink.astro
  src/pages/posts/[...slug].astro
  src/styles/global.css
Due: prettier --write

feat: Add back to top button
  src/components/BackToTopButton.astro
  src/components/TableOfContents.astro
Due: prettier --write

bug: Remove fixed color style from custom anchor link
  src/components/mdx/AnchorLink.astro
Due: prettier --write

feat: Add subscribe form
  src/data/links.ts
  src/pages/subscribe.astro
Due: biome format --write, prettier --write

chore: Transfer scrollbar customisation from previous site
  src/styles/global.css
Due: none

fix: Include last name input in div so it flexs with first name
  src/pages/subscribe.astro
Due: prettier --write

fix: Change BackToTopButton text color on dark mode
  src/components/BackToTopButton.astro
Due: prettier --write

feat: Remove TinaCMS as content management system
  .gitignore
  TODO.md
  package-lock.json
  package.json
  src/components/editBlog.astro
  src/layouts/BaseLayout.astro
  tina/.gitignore
  tina/config.ts
Due: biome format --write, prettier --write

feat: Migrate posts to use Cloudinary image component
  package-lock.json
  package.json
  src/components/ContentTypeListView.astro
  src/components/ListRelatedPosts.astro
  src/components/PostCard.astro
  src/components/mdx/MyImage.astro
  src/content/posts/A-Travel-Whitepaper.mdx
  src/content/posts/Bridge-Crossing-the-Human-Genome.mdx
  src/content/posts/Ep-0-A-Prelude.mdx
  src/content/posts/Ep-1-And-all-that-beauty-all-that-wealth-eer-gave.mdx
  src/content/posts/Ep-15-My-Kind-of-Town.mdx
  src/content/posts/Heart-of-Darkness-Conrad-and-Cultural-Myopia.mdx
  src/content/posts/Marlows-Internal-Journey-Through-the-West-Towards-Kurtz.mdx
  src/content/series/Heart-of-Darkness.mdx
  src/content/series/Purdue-University-2023.mdx
  src/layouts/Post.astro
Due: biome format --write, prettier --write

chore: Start migrating old posts from Hygraph
  src/content/categories/Blog.mdx
  src/content/categories/Essays.mdx
  src/content/categories/Learn.mdx
  src/content/categories/Literature.mdx
  src/content/categories/Maths.mdx
  src/content/categories/Newsletter.mdx
  src/content/categories/Travel.mdx
  src/content/posts/A-Travel-Whitepaper.mdx
  src/content/posts/Bridge-Crossing-the-Human-Genome.mdx
  src/content/posts/Ep-0-A-Prelude.mdx
  src/content/posts/Ep-1-And-all-that-beauty-all-that-wealth-eer-gave.mdx
  src/content/posts/Heart-of-Darkness-Conrad-and-Cultural-Myopia.mdx
  src/content/posts/Marlows-Internal-Journey-Through-the-West-Towards-Kurtz.mdx
  src/content/posts/ep-1-5-my-kind-of-town.mdx
  src/content/posts/jay-gatsby-vs-the-american-dream.mdx
  src/content/posts/marlow-kurtz-and-the-congo-redemption.mdx
  src/content/posts/nick-and-the-candlestick-daddy-balloons.mdx
  src/content/posts/on-freedom-in-cat-on-a-hot-tin-roof.mdx
  src/content/posts/on-the-pall-of-western-rhetoric-and-colonialism.mdx
  src/content/posts/the-applicant-lady-lazarus.mdx
  src/content/posts/the-comfort-of-lies-within-williams-cat.mdx
  src/content/posts/the-material-heart-of-mendacity.mdx
  src/content/series/Purdue-University-2023.mdx
  src/content/series/ariel-x-sylvia-plath.mdx
  src/content/series/cat-on-a-hot-tin-roof.mdx
Due: biome format --write

bug: Convert series title to lowercase before compariso
  src/pages/series/[...slug].astro
  src/pages/series/[series]/[page].astro
Due: prettier --write

chore: Migrate old posts from Hygraph pt. 2/n
  src/content/categories/blog.mdx
  src/content/categories/essays.mdx
  src/content/categories/learn.mdx
  src/content/categories/literature.mdx
  src/content/categories/maths.mdx
  src/content/categories/newsletter.mdx
  src/content/categories/travel.mdx
  src/content/posts/a-travel-whitepaper.mdx
  src/content/posts/bridge-crossing-the-human-genome.mdx
  src/content/posts/ep-0-a-prelude.mdx
  src/content/posts/ep-1-and-all-that-beauty-all-that-wealth-eer-gave.mdx
  src/content/posts/heart-of-darkness-conrad-and-cultural-myopia.mdx
  src/content/posts/marlows-internal-journey-through-the-west-towards-kurtz.mdx
  src/content/series/heart-of-darkness.mdx
  src/content/series/purdue-university-2023.mdx
Due: biome format --write

chore: Migrate old posts from Hygraph pt. 3/n
  src/content/posts/1-a-prelude.mdx
  src/content/posts/2-and-all-that-beauty-all-that-wealth-eer-gave.mdx
  src/content/posts/bridge-crossing-the-human-genome.mdx
  src/content/posts/ep-0-a-prelude.mdx
  src/content/posts/ep-1-5-my-kind-of-town.mdx
  src/content/posts/ep-1-and-all-that-beauty-all-that-wealth-eer-gave.mdx
  src/content/posts/ep-2-the-cold-cold-winter.mdx
  src/content/posts/exploring-hardware-problems-with-verilog.mdx
  src/content/posts/flow-cells-for-carbon-electroreduction.mdx
  src/content/posts/introduction-to-creating-a-personal-website-with-nextjs.mdx
  src/content/posts/social-mores-and-how-they-shape-williams-cat.mdx
  src/content/posts/the-comfort-of-lies-within-williams-cat.mdx
  src/content/posts/the-thundercloud-of-a-common-crisis-of-williams-america.mdx
  src/content/posts/tulips-bee-box-balloons-a-close-reading.mdx
  src/content/posts/understanding-electrolysis.mdx
Due: biome format --write

chore: Add custom .mdx button component
  src/components/mdx/Button.astro
  src/pages/posts/[...slug].astro
Due: prettier --write

fix: Migrate from regular video embed to Cloudinary player
  src/components/mdx/VideoEmbed.astro
Due: prettier --write

chore: Update TODO
  TODO.md
Due: biome format --write

save: Progress on backfilling posts
  src/components/mdx/Carousel.astro
  src/content/posts/3-a-cold-cold-winter.mdx
  src/content/posts/bridge-crossing-the-human-genome.mdx
  src/content/posts/ep-3-let-it-snow.mdx
  src/content/posts/ep-4-the-plot-thickens.mdx
  src/content/posts/ep-5-these-vagabond-shoes.mdx
  src/content/posts/newsletter-4.mdx
  src/pages/posts/[...slug].astro
Due: biome format --write, prettier --write

feat: Add custom image carousel component
  src/components/mdx/Carousel.astro
  src/content/posts/ep-5-these-vagabond-shoes.mdx
Due: biome format --write, prettier --write

feat: Finish migrating old posts to Cloudinary/astro
  src/content/posts/ep-10-lexington.mdx
  src/content/posts/ep-11-youre-a-star.mdx
  src/content/posts/ep-12-grounded.mdx
  src/content/posts/ep-13-when-harry-met-sally.mdx
  src/content/posts/ep-14-goodbye.mdx
  src/content/posts/ep-6-under-lights.mdx
  src/content/posts/ep-7-whose-house.mdx
  src/content/posts/ep-8-winding-down.mdx
  src/content/posts/ep-9-spring-break.mdx
  src/content/posts/lisbon.mdx
  src/content/posts/my-10-days-of-rest-and-relaxation.mdx
  src/content/posts/newsletter-5.mdx
  src/content/posts/newsletter-6.mdx
  src/content/posts/newsletter-7.mdx
  src/content/posts/newsletter-8.mdx
  src/content/posts/photography-basics.mdx
  src/content/series/europe-2023.mdx
  src/content/series/meditation.mdx
  src/content/series/photography.mdx
Due: biome format --write

feat: Add custom mdx Card component
  src/components/mdx/Card.astro
  src/pages/posts/[...slug].astro
Due: prettier --write

chore: Update Highlight tags to new syntax from old posts
  src/content/posts/3-a-cold-cold-winter.mdx
  src/content/posts/ep-10-lexington.mdx
  src/content/posts/ep-11-youre-a-star.mdx
  src/content/posts/ep-12-grounded.mdx
  src/content/posts/ep-13-when-harry-met-sally.mdx
  src/content/posts/ep-3-let-it-snow.mdx
  src/content/posts/ep-5-these-vagabond-shoes.mdx
  src/content/posts/ep-6-under-lights.mdx
  src/content/posts/ep-7-whose-house.mdx
  src/content/posts/ep-8-winding-down.mdx
  src/content/posts/lisbon.mdx
  src/content/posts/my-10-days-of-rest-and-relaxation.mdx
Due: biome format --write

feat: Add working /contact email form
  astro.config.mjs
  package-lock.json
  package.json
  src/pages/api/contact.ts
  src/pages/contact.astro
Due: biome format --write, prettier --write

chore: Fix cloudinary url in post
  src/content/posts/marlows-internal-journey-through-the-west-towards-kurtz.mdx
Due: biome format --write

Path conditions:
  biome format --write: any of: *.{js,jsx,ts,tsx,md,mdx,json}
  prettier --write: any of: *.astro
